@page
@model IndexModel




@if (Model.IsFail)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var item in Model.Errors)
            {
                <li>@item</li>
            }
        </ul>
    </div>
   
    <a asp-page="Index">Ürün anasayfasına geri dön</a>

    return;
}

<a class="btn btn-primary" asp-page="CreateOrUpdate">Ürün oluştur</a>

@if (Model.Products is null || Model.Products?.Count == 0)
{
    <p>Ürünler bulunamadı</p>
    return;
}


<table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                   Name
                </th>
                <th>
                  Price
                </th>
                <th>Stock</th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                       @item.Id
                    </td>
                    <td>
                       @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <th>
                        @item.Stock
                    </th>
                    <th>
                        <a asp-page="Get" asp-route-id="@item.Id">Detay</a>

                        <a asp-page-handler="Delete" asp-route-id="@item.Id">Sil</a>

                    <a asp-page="CreateOrUpdate" asp-route-encryptId="@item.EncryptId">Güncelle</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>




